* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #080224;
  color: #efedf7;
}
header {
  height: 200px;
  margin-top: 24px;
}
.geologica-400 {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.ysabeau-regular {
  font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  text-align: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin-top: 54px;
}
img {
  margin-left: 40px;
}
.menu {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #efedf7;
  padding: 5px;
  display: block;
  transition: 0.3;
}
main {
  /* background: #0e0536; */
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
section {
  background: #12063a;
  border-radius: 24px;
  margin-bottom: 40px;
}
.mywork {
  height: 600px;
}
