* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #080224;
  color: #efedf7;
}

.geologica-400 {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.ysabeau-regular {
  font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
